@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Comfortaa", cursive;
}
