@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Comfortaa", cursive;
}
/*  */
::-webkit-scrollbar {
  width: 6px;
  display: flex;
  background-color: #18191a;
}
::-webkit-scrollbar-track {
  margin: 3px 0;
}
::-webkit-scrollbar-thumb {
  margin: 20px;
  background-color: #b0b0b0;
  border-radius: 10px;
}
